In [1]:
import YData
import pandas as pd

In [2]:
# GDP (in trillions USD) and Population of various counrties in 2024 as per IMF. 

GDP = {
            'Country' : ['USA', 'Canada', 'France', 'Australia', 'India', 'China'],
            'GDP' : [28.78, 2.24, 3.13, 1.79, 3.94, 18.53]
            }

POP = {
            'Country': ['USA', 'India', 'Russia', 'England', 'Germany', 'China'],
            'Population': [345427000, 1450940000, 144820000, 69138200, 84552200, 1419320000]
            }

GDP_df = pd.DataFrame(GDP)
POP_df = pd.DataFrame(POP)


GDP_df = GDP_df.set_index("Country")
POP_df = POP_df.set_index("Country")

In [3]:
# Display DataFrames GDP_df and POP_df. 

display(GDP_df, POP_df)

             GDP
Country
USA        28.78
Canada      2.24
France      3.13
Australia   1.79
India       3.94
China      18.53

         Population
Country
USA       345427000
India    1450940000
Russia    144820000
England    69138200
Germany    84552200
China    1419320000

# Level 1

##### Do `GDP_df` and `POP_df` have a common (meaningful) index ?
##### Answer: 


##### Based on your answer above, what should we use `.join()` or `.merge()` ?
##### Answer: 

##### To avoid confusion, let us call `GDP_df` to be the "left" DataFrame and `POP_df` to be the "right" DataFrame.

In [14]:
# Write a one line code to join/merge GDP_df and POP_df so that all the information in GDP_df remains intact. 
# Store the new DataFrame as join_1_df.

In [15]:
# Write a one line code to join/merge GDP_df and POP_df so that all the information in POP_df remains intact. 
# Store the new DataFrame as join_2_df.

In [16]:
# Write a one line code to join/merge GDP_df and POP_df so that all the information in both the DataFrames is preserved. 
# Store the new DataFrame as join_3_df.

In [17]:
# Write a one line code to join/merge GDP_df and POP_df so that only the common information is preserved. 
# Store the new DataFrame as join_4_df.

# Level 2

In [8]:
# Let us modify GDP_df and POP_df. 

GDP_new_df = GDP_df.reset_index()
POP_new_df = POP_df.reset_index()


display(GDP_new_df, POP_new_df)

     Country    GDP
0        USA  28.78
1     Canada   2.24
2     France   3.13
3  Australia   1.79
4      India   3.94
5      China  18.53

   Country  Population
0      USA   345427000
1    India  1450940000
2   Russia   144820000
3  England    69138200
4  Germany    84552200
5    China  1419320000

##### Do `GDP_new_df` and `POP_new_df` have a common (meaningful) index ?
##### Answer: 


##### Based on your answer above, what should we use `.join()` or `.merge()` ?
##### Answer: 

##### To avoid confusion, let us call `GDP_new_df` to be the "left" DataFrame and `POP_new_df` to be the "right" DataFrame.

In [18]:
# Write a one line code to join/merge GDP_new_df and POP_new_df so that all the information in GDP_new_df remains intact. 
# Store the new DataFrame as merge_1_df.

In [10]:
# Next try how = "right" option in the above code. 







# Now try how = "outer" option in the above code. 







# Finally try how = "inner" option in the above code.

# Level 3

In [11]:
# Let us change the column name "Country" to "country_name" for the GDP_new_df DataFrame. 
# Store your answer as GDP_newest_df. 

GDP_newest_df = GDP_new_df.rename(columns = {"Country": "country_name"})

GDP_newest_df

  country_name    GDP
0          USA  28.78
1       Canada   2.24
2       France   3.13
3    Australia   1.79
4        India   3.94
5        China  18.53

##### Do `GDP_newest_df` and `POP_new_df` have a common (meaningful) index ?
##### Answer: 


##### Based on your answer above, what should be use `.join()` or `.merge()` ?
##### Answer: 

##### To avoid confusion, let us call `GDP_newest_df` to be the "left" DataFrame and `POP_new_df` to be the "right" DataFrame.

In [19]:
# Write a one line code to join/merge GDP_newest_df and POP_new_df so that all the information in GDP_newest_df remains intact. 
# Store the new DataFrame as merge_2_df.

In [13]:
# Next try how = "right" option in the above code. 







# Now try how = "outer" option in the above code. 







# Finally try how = "inner" option in the above code.