##### Welcome to (Preceptor) Practice Session 5!

In [1]:
import YData



# Download (Preceptor) Practice Session notebook 5. 
#YData.download_practice_code(5)              # Without answers. 
#YData.download_practice_code(5, True)        # With answers (won't work before Friday eve.)




# Download Data. 
#YData.download_data("data_science_salaries.csv")
#YData.download_data("apple_2024.csv")
#YData.download_data("google_2024.csv")
#YData.download_data("woodard.csv")




# Import Packages/Libraries. 
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

### Matplotlib package

In [ ]:
# Useful package to visualize the data. 

import matplotlib.pyplot as plt                     # For importing the package as "plt".
%matplotlib inline



# Pie Charts 
plt.pie(list_of_counts, labels = list_of_labels);   # list_of_counts is a list containing the counts
                                                    # and list_of_labels is the corresponding list with  
                                                    # labels associated with different counts. 


# Bar Graphs 
plt.bar(list_of_labels, list_of_counts);            # Notice the order for list_of_counts and 
                                                    # list_of_labels switches from above. 


# Histograms 
plt.hist(quant_variable, edgecolor = 'k', bins = n, alpha = 0.5, density = True, label = "my_label");
                                                    # quant_variable is the list containing the values 
                                                    # values of the Quantitative variable and "n" is
                                                    # the bin size.


# For plotting two quantitative variables. 
plt.plot(quant_1, quant_2, '.', label = "my_label")  
plt.scatter(quant_1, quant_2, color = "color_column") # for plotting quant_2 as a function of quant_1.                                               



# Some useful functions. (a and b are arbitrary/placeholder strings)
plt.xlabel("a");
plt.xticks(rotation = n);
plt.ylabel("b");
plt.legend();
plt.figure(figsize = (n, k));
plt.title("my_title");

# For subplots. 
plt.subplot(i,j,k);




# For image show (along with colorbar) where N is an ndarray (with appropriate dimension and entries).  
plt.imshow(N);
plt.colorbar();


# For Box Plot where N is an ndarray.  
plt.boxplot([N], labels = ["my_label"], showfliers = False);

### Seaborn Package

In [ ]:
# Import the package. 
import seaborn as sns

# Apply Seaborn's effects. Use the function sns.set_theme().
sns.set_theme(style = "whitegrid")

In [ ]:
# Useful when working with two quantitative variables.
# Basic syntax
sns.relplot(data = my_df, ....)

 

For mapping other features of our data onto visual properties including: 
- `x`, and `y` column names to be plotted (as we have done before)
- `hue`: The column name to be mapped to the color of the points
- `size`: The column name to be mapped to the size of points
- `style`: The column name to be mapped to the style of the markers
- `col`: fThe column name to be mapped to faceting to compare multiple subplots

In [ ]:
# Useful when working with one quantiative variable. 
# Basic syntax
sns.displot(data = my_df, ....)

##### Plotting a single quantitative variable

We can plot a single quantitative variables using the `sns.displot()` function.

Properties we can set include
- `x`: The name of the data column you want to plot
- `hue`: The name of the column that colors each point
- `kind` The type of plot

Different options for `kind` are: “hist”, “kde”, “ecdf”

In [ ]:
# Useful when working with a categorical variable. 
# Basic syntax
sns.catplot(data = my_df,....)

##### Plotting a quantitative variable for different categorical variable levels

We can plot a quantitative variable for different categorical variable levels using the `sns.catplot()` function.

We specify: 
- `x`: Cateogoral x-value column name
- `y`: Quantitative y-value column name
- `kind`: The type of plot

The `kind` argument can be set to the following: “strip”, “swarm”, “box”, “violin”, “boxen”, “point”, “bar”, or “count”

# 1. Analyzing Two Quantitative Variables via "Pictures"

In [27]:
# Read the data "data_science_salaries.csv" as a Pandas DataFrame. 
#salaries_df = pd.read_csv("data_science_salaries.csv")
#display(salaries_df.head(2),salaries_df.shape)

In [28]:
# Extract salaries for those who worked On-site. 
# Store your Pandas Series as on_site_salaries.







# Extract salaries for those who did not work On-site. 
# Store your Pandas Series as off_site_salaries.

### A. Comparing On-site and Off-site Data Science Salaries via Box Plots

##### Now that we have the `on_site_salaries` and `off_site_salaries` Pandas Series, let's use side-by-side boxplots to compare the salaries (in USD).

##### Does it matter if you work on-site or off-site in Data Science jobs?

In [29]:
# Plot two box plots side by side such that the boxplot for on_site_salaries 
# is on the left to the boxplot for off_site_salaries.

### B. Comparing On-site and Off-site Data Science Salaries via Histograms

We can also compare the salaries using overlapping histograms. To do this, it will be useful to set the following properties:

1. `alpha = .5`: Make the histograms have some transparency.
2. `density =  True`: Normalize the histograms to have a area equal to 1 to account for the fact that there are different numbers of on-site salaries and off-site salaries in our two Pandas Series.

Let us try to answer the same question using histograms:
Does it matter if you work-on site or off-site in Data Science jobs?

In [30]:
# Plot two overlapping histograms (one for on_site_salaries and the other for off_site_salaries).

# 2. Analyzing Two Time Series via "Pictures"

### Apple vs Google 
Let us analyse how Apple and Google stocks are doing this year 2024. 
Data Source: <https://www.marketwatch.com>

In [31]:
# Read data as Pandas DataFrame. 
apple_df = pd.read_csv("apple_2024.csv", parse_dates = [0])
google_df = pd.read_csv("google_2024.csv", parse_dates = [0])

In [32]:
# Reset index to Date. 
apple_df = apple_df.set_index("Date")
google_df = google_df.set_index("Date")

In [33]:
#display(apple_df.head(3),google_df.head(3))

#### Time Series Plots

In [34]:
# Plot apple and google closing price time series on the same plot.

# 3. Analyzing Functional Relationship between Two Quantitative Variables via "Pictures"

In [35]:
nc_df = pd.read_csv("woodard.csv", index_col = "ID #")

In [36]:
# Removing outliers from the data. 
bool_cheap = nc_df["Total $"] < 4000000
nc_df = nc_df[bool_cheap]
nc_df.head()

,Year Built,Sq. Ft.,Story,Acres,No. Baths,Fireplaces,Total $,Land $,Building $,Zip
ID #,,,,,,,,,,
1,1990,2102,1.0,0.77,NaN,1,203200,44000,159200,27603
2,1986,1740,1.5,0.06,3.0,1,119096,22000,97096,27604
3,1955,795,1.0,0.30,1.0,0,71666,28000,43666,27610
4,1983,1152,1.0,0.68,2.0,0,131103,50000,81103,27616
6,1967,1752,1.0,0.29,1.5,1,144452,52000,92452,27604

### A. Is it resonable to assume that as land size increases, property price increases as well?

Let us first check the above functional relationship via a scatter plot.

In [37]:
# Create a scatter (dot) plot of total property price as a function of land size.

##### Let us now construct a scatter plot so that properties with fireplaces are colored green and properties without fireplaces are colored red.

In [38]:
# Creating a color column. 

# 1. Create a column with all red.
#nc_df["fireplace"] = "red" 


# 2. Construct an appropriate boolean mask. 
#bool_fire = nc_df["Fireplaces"] >= 1


# 3. Change color for properties that have a fireplace from red to green.
# Hint: # Don't use nc_df[bool_fire]["fireplace"] = "green". Why?
#nc_df.loc[bool_fire, "fireplace"] = "green"       


#nc_df.head()

In [39]:
# Let us now construct a scatter plot so that properties with fireplaces are colored green and
# properties without fireplaces are colored red.
# Hint: Use plt.scatter function.

# 4. Subplots

### A. via plyplot interface

In [40]:
# Recall nc_df DataFrame. 
nc_df.head(3)

,Year Built,Sq. Ft.,Story,Acres,No. Baths,Fireplaces,Total $,Land $,Building $,Zip
ID #,,,,,,,,,,
1,1990,2102,1.0,0.77,NaN,1,203200,44000,159200,27603
2,1986,1740,1.5,0.06,3.0,1,119096,22000,97096,27604
3,1955,795,1.0,0.30,1.0,0,71666,28000,43666,27610

In [41]:
# Let us create a bar graph and a pie chart for the categorical variable Fireplaces. 
# Ensure the two pictures (plots) are side by side. 


# Count the number of properties with fireplaces and store the count as fireplace_count. 



# Count the number of properties without fireplaces and stoee the count as no_fireplace_count.



#display(fireplace_count, no_fireplace_count)


# Change the figure size. (We need a longer canvas than the default one.)
#plt.figure(figsize = (12, 4));



# First subplot (Bar Graph).




# Second subplot (Pie Chart).

### B. via axes interface.

In [42]:
# Using the axes interface.


# Create a skeloton for two subplots. 
#fig, ax = plt.subplots(1, 2);


# Set the figure size.
#fig.set_size_inches(12, 4);

    
# First subplot (Pie Chart).
#ax[0].bar(["Fireplace", "No Fireplace"], [fireplace_count, no_fireplace_count]); 
#ax[0].set_ylabel("Counts");


# Second subplot (Pie Chart). 
#ax[1].pie([fireplace_count, no_fireplace_count], labels = ["Fireplace", "No Fireplace"]);

# 5. Seaborn

In [19]:
#import seaborn as sns

###  Let us first create some of the pictures above using the Seaborn!

In [43]:
# Apple vs Google using Seaborn. 

# Apply Seaborn's effects. Use the function sns.set_theme(style = "whitegrid").



# Copy and paste rest of the code from above.

In [44]:
# Using seaborn's default theme. 



# Copy and paste rest of the code from above.

## The `sns.relplot()` function

Analyzing two Quantitative variables via sns.relplot () function.

In [45]:
# Using relplot function in Seaborn package to recreate the above plot. 

   




# Which syntax is easier? No need to give separate lables.

#### Let us now use `sns.relplot()` function to create some more exotic plots.



Let's continue to explore the relplot using data on North Carolina property prices. 

We will also look at mapping other features of our data onto visual properties including: 
- `x`, and `y` column names to be plotted (as we have done before)
- `hue`: The column name to be mapped to the color of the points
- `size`: The column name to be mapped to the size of points
- `style`: The column name to be mapped to the style of the markers
- `col`: fThe column name to be mapped to faceting to compare multiple subplots

In [46]:
nc_df.head(2)

,Year Built,Sq. Ft.,Story,Acres,No. Baths,Fireplaces,Total $,Land $,Building $,Zip
ID #,,,,,,,,,,
1,1990,2102,1.0,0.77,NaN,1,203200,44000,159200,27603
2,1986,1740,1.5,0.06,3.0,1,119096,22000,97096,27604

In [47]:
# Plot Total cost as a function of Acres. 
# Also try to add more visual features to your plot using "hue", "size", "style", and "col" within 
# the argument of sns.relplot() function. 
# There is no unique correct answer for this problen. Goal is to produce good informative plots.

## The `sns.displot()` function.

Analyzing one Quantitative variable via sns.displot() function.

### Plotting a single quantitative variable

We can plot a single quantitative variables using the `sns.displot()` function.

Properties we can set include
- `x`: The name of the data column you want to plot
- `hue`: The name of the column that colors each point
- `kind` The type of plot

Different options for `kind` are: “hist”, “kde”, “ecdf”

In [48]:
# Plot a Histogram for total property price "Total $" using sns.displot() function. 







# Easier than using plt.hist() function? 
# One can easily add more features to the Histogram below using sns.displot() then using plt.hist().

## The `sns.catplot()` function

Analyzing one Quantitative variable with respect one or more categorical variables.

### Plotting a quantitative variable for different categorical variable levels

We can plot a quantitative variable for different categorical variable levels using the `sns.catplot()` function.

We specify: 
- `x`: Cateogoral x-value column name
- `y`: Quantitative y-value column name
- `kind`: The type of plot

The `kind` argument can be set to the following: “strip”, “swarm”, “box”, “violin”, “boxen”, “point”, “bar”, or “count”

In [49]:
# Plot Total property price as the function of number of fireplaces using different kinds of plots.
# Choose from: “strip”, “swarm”, “box”, “violin”, “boxen”, “point”, or “bar”.