##### Welcome to Preceptor Practice Session 2!

In [ ]:
#import YData

In [8]:
#YData.download.download_practice_code(2)                      # without answers

In [1]:
#YData.download.download_practice_code(2,True)                 # with answers

In [11]:
#YData.download.download_data("book_mark_twain.txt")           # code for downloading data

In [12]:
#YData.download.download_data("netflix.csv")                   # code for downloading data

In [13]:
#YData.download.download_data("data_science_salaries.csv")     # code for downloading data

In [14]:
#YData.download.download_data("woodard.csv")                   # code for downloading data

# 1. Booleans
- Booleans represent one of the two values: `True` or `False` in Python.
- They are very helpful when comparing strings and mathematical expressions in Python.

In [1]:
True + True + (False * 5)

In [2]:
True ** False

In [3]:
True != False

In [4]:
x = -4 
(x ** 2) + (4 * x) == False

In [3]:
a = 5
b = 10
c = 15 

h = a - b < -c 
i = a < a 
j = c <= c or c < a 
k = a != c and a > b - c

In [5]:
print(h)
print(i)
print(j)
print(k)

In [6]:
l = not k 
print(l)

In [46]:

a = 5
b = 10
c = 15
x = (b > a) and (c < b) or (not (a + b > c))
y = (b + a >= c) or (c / a > b / a)

In [7]:
print(x)

In [8]:
print(y)

In [9]:
"apples" > "oranges"

In [10]:
"apples" > "apple"

# 2. (More) Strings

In [13]:
file = open("book_mark_twain.txt", 'r', encoding="utf8")
mtbook_data = file.read()

##### 1. Checking string properties

There are also many functions to check properties of strings including:

- `isalnum()`: Returns True if all characters in the string are alphanumeric.
- `isalpha()`: Returns True if all characters in the string are in the alphabet.
- `isnumeric()`: Returns True if all characters in the string are numeric.

- `isspace()`: Returns True if all characters in the string are whitespaces.

- `islower()`: Returns True if all characters in the string are lower case.
- `isupper()`:Returns True if all characters in the string are upper case.
- `istitle()`: Returns True if the string follows the rules of a title.

Let's test some of these methods out...

In [14]:
# Let us extract first 100 characters from the book.

first_100 = mtbook_data[0:100]
first_100

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

In [11]:
# Does the string first_100 contain characters beyond numbers and alphabets?

In [15]:
# Extract first two characters of the book and check if they are both white spaces. 

first_2 = mtbook_data[0:2]

In [16]:
# Write a one line code to check if the substring first_100 follows the rules of a title.

##### 2. String padding

Often we want to remove extra spaces (called "white space") from the front or end of a string. Or conversely, sometimes we want to add extra spaces to make a set of strings the same length (this is known as "string padding"). 

Python strings have a number of methods that can pad/trim strings including: 

- `strip()`: Returns a trimmed version of the string (i.e., with no leading or trailing white space). 
- `center(num)`: Returns a centered string (with equal padding on both sides).
- `zfill(num)`: Fills the string with a specified number of 0 values at the beginning.

Let's test some of the methods out....

In [17]:
# Write a one line code to strip the white spaces in the string first_100.

In [18]:
# Write a one line code to add white spaces (padding) on both sides to have a total
# of 100 characters.

# 3. Categorical Data Analysis

### Main Question: Is Netflix increasingly focusing on TV rather than movies in recent years?
- To answer the above question, let us analyse a data set collected by Fixable which is third party Netflix search engine. 
- This dataset consists of tv shows and movies available on Netflix as of 2019.

In [5]:
import pandas as pd

In [7]:
netflix = pd.read_csv("netflix.csv")
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies"
1,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy
2,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV
3,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV
4,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies

In [8]:
# Which column (variable) is most helpful in answering our main question?
# Let us extract this column and convert it into a Python list called netflix_type. 

netflix_type = netflix["type"].to_list()

In [9]:
len(netflix_type)

6234

In [10]:
print(netflix_type[0:10])

['Movie', 'Movie', 'TV Show', 'TV Show', 'Movie', 'TV Show', 'Movie', 'Movie', 'TV Show', 'Movie']

In [25]:
# How many items in the list netflix_type are movies? Store your answer as movie_count.

In [54]:
# How many items in the list netflix_type are TV shows? Store your answer as tv_show_count.

In [ ]:
# What other statistics can we compute to better answer the main question? 
# What visualization techniques can we use to better answer the main question?

#### 1. Proportions

In [27]:
# What is the proportion of TV shows in the list netflix_type?

#### 2. Pie Chart

In [55]:
# We can use matplotlib to visualize the data.

import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
# Let us first create a list containing the counts for movies and tv shows. 

type_count = 

# Let us also create a list with labels for the above counts. 

type_labels =

In [31]:
# Let us now create Pie chart.

#### 3. Bar Graphs

In [33]:
# Let us also create a Bar Graph.

In [70]:
# Discussions: 
# Which one is better: A Pie chart or a bar graph? 
# What conclusions can we draw based on the above analyis? 
# Given the data above, what else can we do to better answer our main questions?
# Do we need different (or more) data than above? what kind?

# 4. Quantiative Data Analysis - One Quantitative Variable

In [11]:
# Let us now analyze some quantitative data pertaining to data science salaries.
# Salaries for the past five years: 2020 through early 2024. 
# Data source: Primary source ai-jobs.net | Secondary source Kaggle.

import pandas as pd 
salaries = pd.read_csv("data_science_salaries.csv")
salaries.head()

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

In [12]:
# Let us focus on the quantitative variable "salary". 

salary = salaries["salary_in_usd"].to_list()

In [13]:
salary[0:10]

[148100, 98700, 140032, 100022, 120000, 62100, 250000, 150000, 219650, 136000]

In [14]:
len(salary)

6599

In [15]:
type(max)

builtin_function_or_method

In [16]:
type(salary)

list

#### 1. Histogram

In [40]:
# Let us first plot a histogram of salary. 
# To plot Histogram, we can use the library matplotlib which we have 
# already imported as plt.

#### 2. Measures of Central Tendency

In [41]:
# Next let us compute some measures of central tendency. 
# In particular we will focus on mean and median. 
# One can compute these statistics much easier using the library called "statistics". 

import statistics as stat

In [42]:
# mean (or average) 
mean = round(stat.mean(salary))

In [43]:
# median
median = round(stat.median(salary))

In [81]:
# Why is mean greater than median? 
# Did we expect this by looking at the Histogram?
# Data is right-skewed?

In [44]:
# plot the mean and the median on top of a histogram of salaries

#plt.hist(salary, edgecolor = "k", bins = 100);
#plt.ylabel("Count")
#plt.xlabel("Salary($)");

#plt.axvline(mean, color='r', linestyle='dashed', linewidth=1, label = "Mean");
#plt.axvline(median, color='b', linestyle='dashed', linewidth=1, label = "Median");
#plt.legend();

#### 3.Outliers

Outliers are values that are much larger or smaller than the rest of the data. When an outlier occurs in a dataset we should investigate what might be causing the outlier.
- If it is due to a mistake (e.g., a data entry error) we can remove the outlier from our data.
- If it is a real value, we should understand how the value will impact our conclusions. 

Let's see if we can find the outlier in our salaries data. In particular, let's do the following:

1. We will use the `max()` to find the highest salary. 
2. We will then use the `list.index()` method to find the index where this value occurs in the `salary` list.

In [45]:
# Let us find maximum salary. 

#highest_salary = max(salary)
#highest_salary

In [46]:
#salary.index(highest_salary)

In [47]:
#salaries.loc[296,:]

# 5. Quantitative Data Analysis - Two Quantitative Variables

In [17]:
# Data Source: Journal of Statistics Education. 
# A random sample of Wake County, North Carolina residential real estate plots.

import pandas as pd 
real_estate = pd.read_csv("woodard.csv")
real_estate.head()

,ID #,Year Built,Sq. Ft.,Story,Acres,No. Baths,Fireplaces,Total $,Land $,Building $,Zip
0,1,1990,2102,1.0,0.77,NaN,1,203200,44000,159200,27603
1,2,1986,1740,1.5,0.06,3.0,1,119096,22000,97096,27604
2,3,1955,795,1.0,0.30,1.0,0,71666,28000,43666,27610
3,4,1983,1152,1.0,0.68,2.0,0,131103,50000,81103,27616
4,5,2003,1404,1.0,39.38,2.0,0,4904102,4797750,106352,27519

In [18]:
plot_size = real_estate["Acres"].to_list()
total_price = real_estate["Total $"].to_list()

In [19]:
type(total_price)

list

##### 1. Visualizing two quantitative variables

Let's create a scatter plot to visualize the relationship between plot size (in acres) and the total price (in $). 

We want to answer the following questions from the data:
1. Does it appear that price increses as the plot size increases?
2. What do you think the correlation is between plot size and total price ? Positive or Negative?

In [52]:
# Plot total price as a function of plot size. 
# We can do this using matplotlib library which we have already imported as plt.

In [53]:
# Let us compute the correlation.