# Practice Session 1

Welcome to (Preceptor) Practice Session 1! 
Please complete this notebook by filling in the cells provided.

In [14]:
import YData



##### Download Practice Notebook. ####
#YData.download_practice_code(1)             Without Answers. 
#YData.download_practice_code(1, True)      With Answers (won't work until Friday eve).




#### Download Data. ####
#YData.download_data('book_mark_twain.txt')

## 1. Names, Assignment Statements and Error Messages

Question 1.1: What is wrong with the following code?

In [5]:
x = ydata 123

SyntaxError: invalid syntax (3086352036.py, line 1)

Answer 1.1:

Question 1.2: What is wrong with the following code?

In [9]:
u = x * q

NameError: name 'q' is not defined

Answer 1.2:

Question 1.3: What is wrong with the following code?

In [13]:
abs("hello")

TypeError: bad operand type for abs(): 'str'

Answer 1.3:

Question 1.4: Write one line code to check if 4.1 is an int or a float.

Question 1.5: Round 4.1 to the nearest integer and store your answer as `x`.

Question 1.6: Write one line code to check if `x` from the previous step is a float or an int.

# 2. Basic Statistics

Let us try to compute (estimate) the volume of Earth. 
You may use the following data:
- The equatorial radius of Earth is 3963.2 miles.
- The polar radius of Earth is 3949.9 miles.

Also, recall volume `V` is given by the formula $ V = \frac{4}{3} \pi r^3 $ where $r$ is the radius. 



Data source: https://sciencing.com/what-volume-earth-4689019.html

Question 2.1: Let us first compute the average radius and store our answer as `r`.

Question 2.2: Now compute volume using the formula above and save your answer as `V`. (you may use $ \pi = 3.14 $)

Question 2.3: Round your answer to two decimal places.

# 3. Lists

One of the most widely use data structures in Python is the list. As we discussed in class, lists can hold any type of item, and we can use square brackets `[]` to create, set, and extract elements from lists.

Question 3.1: Create a list called `ivy` consisting of 8 items (strings) in the order specified here: Dartmouth, Harvard, Brown, Yale, Columbia, Cornell, UPenn, and Princeton.

Question 3.2: Write code to print the list and count the number of objects it contains.

Question 3.3: Write one line code to extract the third item in the list.

Question 3.4: Write one line code to extract all the items from Harvard through UPenn.

Question 3.5: Write a one line code to extract all the items but the last item in the list.

Question 3.6: Write a one line code to extract all the items starting from Brown.

Question 3.7: Write a one line code to replace the string 'Dartmouth' with 'MIT' in the list. Then print out the modified list.

Question 3.8: Write a one line to add Dartmouth back to the list.

Question 3.9: Wtie a one line code to add Yale at the end of the list.

Question 3.10: Write a one line code to count the number of times Yale appears in the above list.

# 4. Strings

As discussed during the lecture, text in Python is held in character strings. Let's explore some of the basics of manipulating character strings by looking at the book "What is Man? And Other Stories" which was written by Mark Twain.

In [16]:
file = open('book_mark_twain.txt', 'r', encoding="utf8")
mtbook_data = file.read()

Question 4.1: What is the type of data in mtbook_data?

Question 4.2: Write a code to extract first 10 characters(letters) in the book.

Question 4.3: Write a code to extract first 100 characters (letters) in the book.

Question 4.4: Write a one line code to make first 100 characters lower case.

##### Let's now examine how many times the symbol "?" appears in the book?. To do this, let's count how many times the substring "?" occurs in the book. In particular, we can use the `my_string.count(my_substring`) method where:
- `my_string`: refers to the longer piece of text we want to search through.
- `count()` is the name of the method we are using to count how many times my_substring occurs.
- `my_substring` is the string we are searching for and counting in the longer piece of text given by my_string.

Question 4.5: Write a code to count the number of times the string "?" appears in the book.

Question 4.6: Write a one line code to count the number of new lines.

Question 4.7: Write one line code to count the number of times the string "man" appears.

Question 4.8: Now let us split the book up into a list named `bins_of_man`, where first item of the list consists of the text upto first occurance of "man", the second item consists of the text upto second occurance of "man", and so on.

Hint: the `my_string.split(my_substring)` could be useful here.

Question 4.9: Write a one line code to check that `bins_of_man` is indeed a list.

Question 4.10: Write a one line code to count the number of items in the list.

Question 4.11: Write a one line code to extract the first item in the above list.

Question 4.12: Write a one line code to extract the first three items in the above list.

Question 4.13: Let us now extract all the text in the first entry of the list and store it as bin_1.

Question 4.14: Write one line code that removes the string "Man" from the first 100 characters (letters) of the text and replaces it with the string "Monkey". Store this as`nfirst_100`.

Question 4.15: What this does? `first_100[::2]`

Question 4.16: Write a code to extract characters (letters) 1 through 5 from the 10th item of the list `bins_of_man` and store it as `sentence`.