Welcome to the (Preceptor) Practice Session 4!

In [1]:
import YData

# Download practice notebooks. 
#YData.download.download_practice_code(4)                       # Without Answers. 
#YData.download.download_practice_code(4, true)                 # With Answers (won't work until Friday eve).



# Download Data. 
#YData.download_data("data_science_salaries_2.csv")
#YData.download_data("GDP.csv")



# Import Packages. 
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

# Pandas -- Important Functions and Methods

In [ ]:
# In what follows, X_df and Y_df are arbitrary/placeholder 
# Pandas DataFrames. z_series is an abrbitrary/placeholder Pandas Series.  
# Most of the functions and methods below work for both DataFrames and Series. 





# For importing Pandas Library as pd. 

import pandas as pd







# For reading data into the notebook as Pandas DataFrame from a .csv file. 

pd.read_csv("file_name.csv")                                # With default index. 
pd.read_csv("file_name.csv", index_col = "")                # With index set to your choice of column in the DataFrame. 






# For checking some basic features of the DataFrame. 

X_df.head()                                                 # First five rows.                       
X_df.tail()                                                 # Last five rows. 
X_df                                                        # First five and the last five rows. 
display(type(X_df), X_df.dytpes, X_df.shape)                # To check type, dtypes, and shape of the DataFrame.
X_df.info                                                   # Will return basic information about the DataFrame.







# Columns. 

X_df.columns                                                # Will return columns names. 

X_df.columns.to_numpy()                                     # Will return an ndarray containing column names. 
col_array = np.array(X_df.columns)                          # Will retuen an ndarray col_array containing column names. 

X_df.rename(columns = {"old_name": "new_name"})             # For changing column names. (Doesn't change the original DataFrame.)
X_df["col_name"] or X_df.col_name                           # For extracting a column as a Pandas Series.

X_df.set_index("col_name")                                  # Deletes old index and sets col_name as the new index.
X_df.reset_index()                                          # Will add the index as a separate column and the default index
                                                            # as the new index.
X_df["new_column"] = z_series                               # Adds z_series as a column to the DataFrame X_df.
X_df[["","",....,""]]                                       # Extracts multiple columns as a DataFrame. 







# Rows.

X_df.iloc[]                                  # For extracting via default indexing (0,1,2,....).
X_df.loc[]                                   # For extracting via the index. 
X_df[bool_mask]                              # For extracting via (correctly constructed) boolean mask. 








# Joining/Merging Dataframes.


X_df.join(Y_df, how = "")                                       # When there is a common index. 
                                                                # Will join Dataframes X_df and Y_df using how = "" method.
                                                                # (how could be "left", "right", "inner", and "outer".)


                                          
X_df.merge(Y_df, how = "")                                      # When there is No common index but a common column.

                                           
X_df.merge(Y_df, how = "", left_on = "", right_on = "")         # When there is No common index nor a common column.
                                                                # One needs to specify which columns to align by using
                                                                # left_on = "" and right_on = "".










# Computing basic statistics. 

X_df.sort_values("col_name")                                   # For sorting values with respect to the column col_name. 
X_df.describe().round()                                        # Returns various statistics for quantitative variables in
                                                               # the DataFrame.

X_df.groupby("col_name").agg("statistic_name")                 # Computes statistic_name for quantitative variables for 
                                                               # various groups in col_name. 

X_df.groupby("col_name").agg(                                  # For computing different statistics for different columns          
   new_col1 = ("col_name1", "statistic_name1"),                # with respect to the same grups in col_name. 
   new_col2 = ("col_name2", "statistic_name2"),
   new_col3 = ("col_name3", "statistic_name3")
)                                                              




pd.Dataframe # For creating a Pandas DataFrame from a dictionary, for example. 
my_df.sample(n = ) # Returns a random sample of items from an axis of object.

# 1. Pandas DataFrame - Eyeballing

In [54]:
# Read the data as Pandas DataFrame. 
# Store it as salaries_df.

In [55]:
# First 5 rows of the DataFrame.

#salaries_df.head()

In [56]:
# Last 3 rows of the DataFrame.  

#salaries_df.tail(3)

In [57]:
# First 5 and last 5 rows of the DataFrame.

#salaries_df

In [58]:
# Let us explore some basic features of the DataFrame.  


#display(type(salaries_df), salaries_df.dtypes, salaries_df.shape)

In [59]:
# What does salaries_df.info do?


#salaries_df.info

# 2. Pandas DataFrame - Columns: Basic Manipulations

In [60]:
# Let us explore columns names.

#salaries_df.columns

In [61]:
# Store columns of the DataFrame as an ndarray called data_columns. (There are at least two ways.)





#type(data_columns)

In [62]:
# How to change names of columns?
# Rename "work_models" to "work_mode". 
# Store your answer as "salaries_df".




#salaries_df.head(3)

In [64]:
# Extracting a given column as a Pandas Series. 
# Extract "hours_per_week" as a Pandas Series called "col_1".




#type(col_1)

In [65]:
# Pandas Series is almost like an ndarray. Hence, all "np." functions work on a Pandas Series as well. 
# We will exploit this fact later in the practice session. 

#display(col_1.head(3), col_1.dtype, col_1.shape)

In [66]:
# Another way. 

#col_1_copy = salaries_df.hours_per_week
#col_1 == col_1_copy

In [70]:
# Can you convert a Pandas Series to a Pandas DataFrame?
# The following code will turn the original index to a new separate column, and will set Pandas default index
# 0,1,2,... to be the new index. Thereby, creating a Pandas DataFrame. 



#col_1_df = col_1.reset_index()

#display(type(col_1_df), col_1_df.head(3))

In [71]:
# How to add a Pandas Series as a column to a Pandas DataFrame?

# Create a Pandas Series containing information about salary earned per hour. 
# Store your series as "salary_every_hour". 







# Let us now add the Pandas Series "salary_every_hour" as a column (with the name 
# salary_per_hour) to the DataFrame "salaries_df". 






#salaries_df.head(3)

In [72]:
# How to set a column as an index (instead of default index coding 0,1,2,....)?
# Write a code to read the data as a Pandas DataFrame. Store it as "salaries_df_copy". 
# Also ensure the column work_year is the index. 




#salaries_df_copy = pd.read_csv("data_science_salaries_2.csv", index_col = "work_year")
#salaries_df_copy.head(3)




# For this data set it may be better to work with default index coding since we don't have a column 
# that has unique entries for different rows. However, it also depends on the context and the problem 
# we are trying to solve using the DataFrame.

In [73]:
# How to reset index to a different column?
# Delete the index "work_year" from the DataFrame "salaries_df_copy" and set the column "job_title" as the new index. 
# Display first three rows of your resulting DataFrame. 
# Write your code inside the display function so that DataFrame remains unaltered. 



#display()




# If you want to retain the old index as a column in your data set, then 
# the following code is a better choice. 

#display(salaries_df_copy.reset_index().set_index("job_title").head(3))

In [74]:
# How to extract mulptiple columns as a (smaller) DataFrame?
# Extract "salary_in_usd", "hours_per_week", and "job_title" as a separate (smaller) Pandas DataFrame.
# Store it as "salaries_subset_df". 




#display(type(salaries_subset_df), salaries_subset_df.head(3))

# 3. Pandas DataFrame - Extracting Rows

In [75]:
# Let us look at DataFrames "salaries_df" and "salaries_df_copy". 

#display(salaries_df.head(2), salaries_df_copy.head(2))

In [76]:
# Extract rows 100 through 103 from the DataFrame "salaries_df". (index number)

In [77]:
# Extract all rows with "work_year" = 2024 from the DataFrame "salaries_df_copy". (index name)

In [78]:
# Extract all rows with "work_year" = 2024 from the DataFrame "salaries_df".
# Hint: Use a boolean mask "bool_mask".

In [79]:
# From the Pandas DataFrame "salaries_df", extract rows corresponding to 2024 from the column
# "salary_in_usd" and store it as "salary_2024_srs".

In [68]:
# From the Pandas DataFrame "salaries_df_copy", extract rows corresponsding to 2024 from the column 
# "salary_in_usd" and store it as "salary_2024_srs_copy". 

#salary_2024_srs_copy = salaries_df_copy["salary_in_usd"].filter(like = "2024")
#salary_2024_srs_copy

# 3. Pandas DataFrame - Combining and Joining DataFrames

In [29]:
# Read GDP data as Pandas DataFrame. 

#gdp = pd.read_csv("GDP.csv", index_col = "work_year")
#gdp

In [30]:
# Create a smaller DataFrame called "df_1".

#df_1 = salaries_df_copy.loc[[2023,2024]]             
#df_1 = df_1[["employee_residence", "salary_in_usd"]]

#df_1

In [31]:
# Joining works when the index of the two DataFrames are the same.  


# Join df_1 and gdp with how = "left" to create DataFrame called "joined_df_1". 

#joined_df_1

In [32]:
# Joining works when the index of the two DataFrames are the same. 


# Join df_1 and gdp with how = "right" to create DataFrame called "joined_df_2".

#joined_df_2

In [33]:
# Merging two DataFrames using a common column (rather than common index). 

#df_1_m = df_1.reset_index()
#gdp_m = gdp.reset_index()

#display(df_1_m, gdp_m)

In [34]:
# Merge df_1_m and gdp_m to create DataFrame called "merged_df_1"


#merged_df_1

In [35]:
# What if columns we want to use to join have different names?

#gdp_m_2 = gdp_m.rename(columns = {"work_year": "year"})
#gdp_m_2

In [1]:
# Merging with different column names.
# We can use the left_on and right_on arguments to specify which columns should be used to align the two DataFrames.
# Merge "df_1_m" and "gdp_m_2" with how = "left". 
# Use "work_year" and "year" to align two DataFrames. 
# Store your output as "merged_df_2".



#merged_df_2

# 4. Pandas DataFrame - Let us do some statistics!

In [37]:
# Let us recall salaries_df. 

#salaries_df.head()

In [70]:
# Sorting values.
# Sorted values of a quantiative variable is an important example of multi-variable statistic. 


# Sort Dataframe salaries_df so that salary_in_usd is arranged smallest to largest. 
#sorted_1 = salaries_df.sort_values("salary_in_usd")

# Sort Dataframe salaries_df so that salary_in_usd is arranged largest to smallest. 
#sorted_2 = salaries_df.sort_values("salary_in_usd", ascending = False)

#display(sorted_1.head(), sorted_2.head())

In [39]:
# A cool function for Pandas DataFrame to compute various statistics. 

#salaries_df.describe().round()

In [40]:
# What if we want to compute statistics for various groups? 

# Which groups? Let us work with "work_mode".
# Compute means for the columns "salary_in_usd", "salary_per_hour", and "hours_per_week" using the grouping 
# "work_mode". Store your as "stats_1". 


#stats_1

In [41]:
# What if we want to compute different statistics for different columns with respect 
# to the same groups?

#stats_2 = salaries_df.groupby("work_mode").agg(
#    mean_salary_usd = ("salary_in_usd", "mean"),
#    median_hours_week = ("hours_per_week", "median"),
#    max_hourly_rate = ("salary_per_hour", "max")
#    )

#stats_2