# Practice Session 1

Welcome to (Preceptor) Practice Session 1! 
Please complete this notebook by filling in the cells provided.

## 1. Names, Assignment Statements and Error Messages

Question 1.1: What is wrong with the following code?

In [5]:
x = ydata 123

SyntaxError: invalid syntax (3086352036.py, line 1)

Answer 1.1: If we mean to define x to be the string "ydata 123", then the code is missing these inverted commas.

Question 1.2: What is wrong with the following code?

In [9]:
u = x * q

NameError: name 'q' is not defined

Answer 1.2: q is not defined.

Question 1.3: What is wrong with the following code?

In [13]:
abs("hello")

TypeError: bad operand type for abs(): 'str'

Answer 1.3: The function abs takes numbers as inputs. "hello" is a string.

Question 1.4: Write one line code to check if 4.1 is an int or a float.

In [1]:
type(4.1)

float

Question 1.5: Round 4.1 to the nearest integer and store your answer as `x`.

In [3]:
x = round(4.1)
x

4

Question 1.6: Write one line code to check if `x` from the previous step is a float or an int.

In [4]:
type(x)

int

# 2. Basic Statistics

Let us try to compute (estimate) the volume of Earth. 
You may use the following data:
- The equatorial radius of Earth is 3963.2 miles.
- The polar radius of Earth is 3949.9 miles.

Also, recall volume `V` is given by the formula $ V = \frac{4}{3} \pi r^3 $ where $r$ is the radius. 



Data source: https://sciencing.com/what-volume-earth-4689019.html

Question 2.1: Let us first compute the average radius and store our answer as `r`.

In [6]:
r = (3963.2 + 3949.9)/2

Question 2.2: Now compute volume using the formula above and save your answer as `V`. (you may use $ \pi = 3.14 $)

In [7]:
V = (4/3) * (3.14) * (r ** 3)
V

259309459458.6643

Question 2.3: Round your answer to two decimal places.

In [8]:
round(V,2)

259309459458.66

# 3. Lists

One of the most widely use data structures in Python is the list. As we discussed in class, lists can hold any type of item, and we can use square brackets `[]` to create, set, and extract elements from lists.

Question 3.1: Create a list called `ivy` consisting of 8 items (strings) in the order specified here: Dartmouth, Harvard, Brown, Yale, Columbia, Cornell, UPenn, and Princeton.

In [9]:
ivy = ["Dartmouth", "Harvard", "Brown", "Yale", "Columbia", "Cornell", "UPenn", "Princeton"]

Question 3.2: Write code to print the list and count the number of objects it contains.

In [10]:
print(ivy)

['Dartmouth', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton']

In [11]:
len(ivy)

8

Question 3.3: Write one line code to extract the third item in the list.

In [12]:
ivy[2]

'Brown'

Question 3.4: Write one line code to extract all the items from Harvard through UPenn.

In [13]:
ivy[1:7]

['Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn']

Question 3.5: Write a one line code to extract all the items but the last item in the list.

In [14]:
ivy[:7]

['Dartmouth', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn']

Question 3.6: Write a one line code to extract all the items starting from Brown.

In [15]:
ivy[2:]

['Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton']

Question 3.7: Write a one line code to replace the string 'Dartmouth' with 'MIT' in the list. Then print out the modified list.

In [16]:
ivy[0] = "MIT"

In [17]:
print(ivy)

['MIT', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton']

Question 3.8: Write a one line to add Dartmouth back to the list.

In [18]:
ivy.append("Dartmouth")

In [19]:
print(ivy)

['MIT', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton', 'Dartmouth']

Question 3.9: Wtie a one line code to add Yale at the end of the list.

In [20]:
ivy.append("Yale")

In [21]:
print(ivy)

['MIT', 'Harvard', 'Brown', 'Yale', 'Columbia', 'Cornell', 'UPenn', 'Princeton', 'Dartmouth', 'Yale']

Question 3.10: Write a one line code to count the number of times Yale appears in the above list.

In [22]:
ivy.count("Yale")

2

# 4. Strings

As discussed during the lecture, text in Python is held in character strings. Let's explore some of the basics of manipulating character strings by looking at the book "What is Man? And Other Stories" which was written by Mark Twain.

In [23]:
file = open('book_mark_twain.txt', 'r', encoding="utf8")
mtbook_data = file.read()

Question 4.1: What is the type of data in mtbook_data?

In [24]:
type(mtbook_data)

str

Question 4.2: Write a code to extract first 10 characters(letters) in the book.

In [25]:
mtbook_data[0:10]

'\n\nTitle: W'

Question 4.3: Write a code to extract first 100 characters (letters) in the book.

In [28]:
first_100 = mtbook_data[0:100]
first_100

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

Question 4.4: Write a one line code to make first 100 characters lower case.

In [29]:
first_100.lower()

'\n\ntitle: what is man? and other stories\n\nauthor: mark twain (samuel clemens)\n\nrelease date: june, 19'

##### Let's now examine how many times the symbol "?" appears in the book?. To do this, let's count how many times the substring "?" occurs in the book. In particular, we can use the `my_string.count(my_substring`) method where:
- `my_string`: refers to the longer piece of text we want to search through.
- `count()` is the name of the method we are using to count how many times my_substring occurs.
- `my_substring` is the string we are searching for and counting in the longer piece of text given by my_string.

Question 4.5: Write a code to count the number of times the string "?" appears in the book.

In [30]:
mtbook_data.count("?")

577

Question 4.6: Write a one line code to count the number of new lines.

In [31]:
mtbook_data.count("\n")

10649

Question 4.7: Write one line code to count the number of times the string "man" appears.

In [32]:
mtbook_data.count("man")

679

Question 4.8: Now let us split the book up into a list named `bins_of_man`, where first item of the list consists of the text upto first occurance of "man", the second item consists of the text upto second occurance of "man", and so on.

Hint: the `my_string.split(my_substring)` could be useful here.

In [33]:
bins_of_man = mtbook_data.split("man")

Question 4.9: Write a one line code to check that `bins_of_man` is indeed a list.

In [34]:
type(bins_of_man)

list

Question 4.10: Write a one line code to count the number of items in the list.

In [35]:
len(bins_of_man)

680

Question 4.11: Write a one line code to extract the first item in the above list.

In [36]:
bins_of_man[0]

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 1993 [eBook #70]\n[Most recently updated: May 26, 2022]\n\nLanguage: English\n\n\nProduced by: An Anonymous Volunteer and David Widger\n\n*** START OF THE PROJECT GUTENBERG EBOOK WHAT IS MAN? AND OTHER STORIES ***\n\n\n\n\nWHAT IS MAN?\nAND OTHER ESSAYS\n\nBy Mark Twain\n\n(Samuel Langhorne Clemens, 1835-1910)\n\n\nCONTENTS\n\n WHAT IS MAN?\n THE DEATH OF JEAN\n THE TURNING-POINT OF MY LIFE\n HOW TO MAKE HISTORY DATES STICK\n THE MEMORABLE ASSASSINATION\n A SCRAP OF CURIOUS HISTORY\n SWITZERLAND, THE CRADLE OF LIBERTY\n AT THE SHRINE OF ST. WAGNER\n WILLIAM DEAN HOWELLS\n ENGLISH AS SHE IS TAUGHT\n A SIMPLIFIED ALPHABET\n AS CONCERNS INTERPRETING THE DEITY\n CONCERNING TOBACCO\n THE BEE\n TAMING THE BICYCLE\n IS SHAKESPEARE DEAD?\n\n\n\n\n\nWHAT IS MAN?\n\nI\n\na. Man the Machine. b. Personal Merit\n\n[The Old Man and the Young Man had been conversing. The Old Man had\nasserted that the hu'

Question 4.12: Write a one line code to extract the first three items in the above list.

In [37]:
bins_of_man[0:3]

['\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 1993 [eBook #70]\n[Most recently updated: May 26, 2022]\n\nLanguage: English\n\n\nProduced by: An Anonymous Volunteer and David Widger\n\n*** START OF THE PROJECT GUTENBERG EBOOK WHAT IS MAN? AND OTHER STORIES ***\n\n\n\n\nWHAT IS MAN?\nAND OTHER ESSAYS\n\nBy Mark Twain\n\n(Samuel Langhorne Clemens, 1835-1910)\n\n\nCONTENTS\n\n WHAT IS MAN?\n THE DEATH OF JEAN\n THE TURNING-POINT OF MY LIFE\n HOW TO MAKE HISTORY DATES STICK\n THE MEMORABLE ASSASSINATION\n A SCRAP OF CURIOUS HISTORY\n SWITZERLAND, THE CRADLE OF LIBERTY\n AT THE SHRINE OF ST. WAGNER\n WILLIAM DEAN HOWELLS\n ENGLISH AS SHE IS TAUGHT\n A SIMPLIFIED ALPHABET\n AS CONCERNS INTERPRETING THE DEITY\n CONCERNING TOBACCO\n THE BEE\n TAMING THE BICYCLE\n IS SHAKESPEARE DEAD?\n\n\n\n\n\nWHAT IS MAN?\n\nI\n\na. Man the Machine. b. Personal Merit\n\n[The Old Man and the Young Man had been conversing. The Old Man had\nasserted that the hu',
 ' being is merely a machine, and nothing more.\nThe Young Man objected, and asked him to go into particulars and\nfurnish his reasons for his position.]\n\nOld Man. What are the materials of which a steam-engine is made?\n\nYoung Man. Iron, steel, brass, white-metal, and so on.\n\nO.M. Where are these found?\n\nY.M. In the rocks.\n\nO.M. In a pure state?\n\nY.M. No—in ores.\n\nO.M. Are the metals suddenly deposited in the ores?\n\nY.M. No—it is the patient work of countless ages.\n\nO.M. You could make the engine out of the rocks themselves?\n\nY.M. Yes, a brittle one and not valuable.\n\nO.M. You would not require much, of such an engine as that?\n\nY.M. No—substantially nothing.\n\nO.M. To make a fine and capable engine, how would you proceed?\n\nY.M. Drive tunnels and shafts into the hills; blast out the iron ore;\ncrush it, smelt it, reduce it to pig-iron; put some of it through the\nBessemer process and make steel of it. Mine and treat and combine\nseveral metals of which brass is made.\n\nO.M. Then?\n\nY.M. Out of the perfected result, build the fine engine.\n\nO.M. You would require much of this one?\n\nY.M. Oh, indeed yes.\n\nO.M. It could drive lathes, drills, planers, punches, polishers, in a\nword all the cunning machines of a great factory?\n\nY.M. It could.\n\nO.M. What could the stone engine do?\n\nY.M. Drive a sewing-machine, possibly—nothing more, perhaps.\n\nO.M. Men would admire the other engine and rapturously praise it?\n\nY.M. Yes.\n\nO.M. But not the stone one?\n\nY.M. No.\n\nO.M. The merits of the metal machine would be far above those of the\nstone one?\n\nY.M. Of course.\n\nO.M. Personal merits?\n\nY.M. _Personal_ merits? How do you mean?\n\nO.M. It would be personally entitled to the credit of its own\nperfor',
 'ce?\n\nY.M. The engine? Certainly not.\n\nO.M. Why not?\n\nY.M. Because its perfor']

Question 4.13: Let us now extract all the text in the first entry of the list and store it as bin_1.

In [39]:
bin_1 = bins_of_man[0]
bin_1

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 1993 [eBook #70]\n[Most recently updated: May 26, 2022]\n\nLanguage: English\n\n\nProduced by: An Anonymous Volunteer and David Widger\n\n*** START OF THE PROJECT GUTENBERG EBOOK WHAT IS MAN? AND OTHER STORIES ***\n\n\n\n\nWHAT IS MAN?\nAND OTHER ESSAYS\n\nBy Mark Twain\n\n(Samuel Langhorne Clemens, 1835-1910)\n\n\nCONTENTS\n\n WHAT IS MAN?\n THE DEATH OF JEAN\n THE TURNING-POINT OF MY LIFE\n HOW TO MAKE HISTORY DATES STICK\n THE MEMORABLE ASSASSINATION\n A SCRAP OF CURIOUS HISTORY\n SWITZERLAND, THE CRADLE OF LIBERTY\n AT THE SHRINE OF ST. WAGNER\n WILLIAM DEAN HOWELLS\n ENGLISH AS SHE IS TAUGHT\n A SIMPLIFIED ALPHABET\n AS CONCERNS INTERPRETING THE DEITY\n CONCERNING TOBACCO\n THE BEE\n TAMING THE BICYCLE\n IS SHAKESPEARE DEAD?\n\n\n\n\n\nWHAT IS MAN?\n\nI\n\na. Man the Machine. b. Personal Merit\n\n[The Old Man and the Young Man had been conversing. The Old Man had\nasserted that the hu'

Question 4.14: Write one line code that removes the string "Man" from the first 100 characters (letters) of the text and replaces it with the string "Monkey". Store this as`nfirst_100`.

In [40]:
first_100

'\n\nTitle: What Is Man? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

In [42]:
nfirst_100 = first_100.replace("Man", "Monkey")
nfirst_100

'\n\nTitle: What Is Monkey? And Other Stories\n\nAuthor: Mark Twain (Samuel Clemens)\n\nRelease Date: June, 19'

Question 4.15: What this does? `first_100[::2]`

In [43]:
first_100[::2]

'\nTte htI a?AdOhrSois\nuhr akTan(aulCees\nRlaeDt:Jn,1'

Question 4.16: Write a code to extract characters (letters) 1 through 5 from the 10th item of the list `bins_of_man` and store it as `sentence`.

In [51]:
sentence = bins_of_man[9]

In [52]:
sentence = sentence[0:5]

In [53]:
sentence

' the '