# Class 2: The basics of Python

In this notebook we will learn some of the basic syntax of Python. We will use what we learn today throughout the rest of the semester so make sure you are understanding the main ideas, and try to practice more on your own.

## Notes on the class Jupyter setup

If you have the **ydata_2025_spring_v1** environment set up correctly, you can get the class code using: 

`import YData`

`YData.download.download_class_code(2)   # get class 2 code`    

`YData.download.download_class_code(2, TRUE) # get the code with the answers`  


There are also similar functions to download the homework:

`YData.download.download_homework(1)  # downloads homework 1` 


If you are using colabs, you must install polars and the YData package using: 

`!pip install https://github.com/lederman/YData_package/tarball/master`

You should also mount the your google drive using: 

`from google.colab import drive`

`drive.mount('/content/drive')`

You can uncomment the code below to run functions that are useful for the setup you are using.

In [ ]:
## Example code to download the test first homework 
# import YData
# YData.download.download_homework(1)

## useful code for google drive
# !pip install https://github.com/lederman/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## Python ##

Let's explore some basic arithmetic operations!

In [ ]:
# add numbers

2 + 3

In [ ]:
# subtract numbers

2 - 3

In [ ]:
# multiple numbers

2 * 3

In [ ]:
# divide numbers

2 / 3

In [ ]:
# Take numbers to a power:  2 * 2 * 2

2 ** 3

## Names ##

We can assign a value to a `name` which store the value. We can then refer to the name in future operations. 

Let's do the following:
- Assign 10 to the the name `a`
- Assign 6 to the the name `b`
- Assign the sum of `a` and `b` to a name called `total`

In [ ]:
# assign the name a to the value 10

a = 10

In [ ]:
# print a

a

In [ ]:
# assign the name b to the value 6

b = 6

In [ ]:
# assign the name total to a plus b

total = a + b

In [ ]:
# print total

total

In [ ]:
# change b

b = 7

In [ ]:
# print total again

total

In [ ]:
# assign the name total to a plus b again

total = a + b

In [ ]:
# print total again

total

### Yearly minimum wage salarly

The minimum wage in Connecticult is [$16.35 per hour](https://portal.ct.gov/governor/news/press-releases/2024/09-2024/governor-lamont-announces-minimum-wage-will-increase-in-2025?language=en_US). If someone was working 40 hours a week for all 52 weeks in a year, what would their yearly salary be?  

While we could do the calculation in a single step, let's create some intermediate names to make the calculation more comprehensible. In particular, create the following names as part of intermediate calculations: 

- `hours_per_week`: the number of hours in a work week (40)
- `weeks_per_year`: the number of weeks in a year 
- `total_hours`: the total number of hours in a year
- `ct_hourly_minimum_wage`: minimum wage in Connecticut 
- `total_wages`: total wages earned in a year

In [ ]:
# create names hours_per_week and weeks_per_year

hours_per_week = 40
weeks_per_year = 52

In [ ]:
# calculate (approximate) total hours in a year and assign to name total_hours

total_hours = hours_per_week * weeks_per_year

In [ ]:
# print total hours

total_hours

In [ ]:
# create ct_hourly_minimum_wage

ct_hourly_minimum_wage = 16.35

In [ ]:
# calculate total_wages

total_wages = total_hours * ct_hourly_minimum_wage

total_wages

## Call expressions ##

Call expression call "functions" to compute values. 

A few example functions are: 
- `abs()`: Takes the absolute value of a number
- `min(x, y, ..., z)`: Takes the minimum value of x, y, ..., z
- `round()`: round a number, potentially to a given number of decimal places

In [ ]:
# take absolute value of -5

abs(-5)

In [ ]:
# print a

a

In [ ]:
# print b

b

In [ ]:
# take absolute value of b minus a

abs(b - a)

In [ ]:
# take the minimum value of 8 and 3

min(8, 3)

In [ ]:
# round a number

round(123.456789)

In [ ]:
# round a number to 2 digits

round(123.456789, 2)

## Numbers ##

Numbers in Python are of two basic types:

* Integers which are whole numbers (e.g., 1, 10, 0, -5, etc.)
* Floating point numbers which are decimal numbers (e.g., 2.0, 3.1415, etc.)

In [ ]:
10 * 3  # int

In [ ]:
1.7 + 4  # float

In [ ]:
2 + 3 # int

In [ ]:
2. + 3 # float

In [ ]:
10 / 3            # float

In [ ]:
10 / 2  # still a float

In [ ]:
123 ** 4

In [ ]:
1234567 ** 890 # limited size, but limit is large

In [ ]:
.12345678901234567890123456789 # limited precision

In [ ]:
30 / 400

In [ ]:
30 / 4000000000 # output in scientific notation

In [ ]:
9 ** 0.5

In [ ]:
13 ** 0.5

In [ ]:
(13 ** 0.5) ** 2 # After arithmetic, the final few decimal places can be wrong

In [ ]:
float(3)

In [ ]:
int(6.75)

## Strings ##

Strings are how Python represents text. Strings can be created by putting text in either single quotes or in double quotes, but the same type of quote must be used at the start and end of the string. 

* `"This is a string created using double quotes"`
* `'This is a string created using single quotes'`
* `'This is not a correctly formed string because it starts with a single quote and ends with a double quote"`

In [ ]:
'Flavor'

In [ ]:
'any snippet of text'

In [ ]:
'2' + 'x'    # concatenation

In [ ]:
'straw' + 'berry'

In [ ]:
'ha' * 5

In [ ]:
str(2)

In [ ]:
int('2')

In [ ]:
# int('2.3')

In [ ]:
float('2.3')

In [ ]:
int(float('2.3'))

In [ ]:
#str('3', '2') # To concatenate strings, use +

In [ ]:
'3'+'2'

In [ ]:
2 + 'x'

In [ ]:
"I'm a data scientist!"

In [ ]:
'I'm a data scientist!'

## Types ##

Which can check what *type* is being stored in a name using the `type()` function.

In [ ]:
type(2.3)

In [ ]:
type(100)

In [ ]:
type('abcd')

In [ ]:
a = 5.7
type(a)

## Lists 

Lists are a "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [ ]:
# A list of numbers

my_list = [1, 2, 3]
my_list

In [ ]:
# A list of strings

my_list2 = ["a", "b", "c"]
my_list2

In [ ]:
# Lists can hold elements of different types

my_list3 = [4, 5, "six"]
my_list3

In [ ]:
# We can access elements of a list also using square brackets

my_list2[2]

In [ ]:
# We can replace elments of a list as well

my_list2[2] = "z"

my_list2

In [ ]:
# concatenating lists

a_long_list = my_list + my_list2 + my_list3
a_long_list

In [ ]:
# product of an integer and a list

product_list = 3 * my_list3
product_list

In [ ]:
# getting the number of elements in a list using the len() function 

len(a_long_list)

In [ ]:
# slicing lists

a_long_list[0:5]

In [ ]:
# start at a different index

a_long_list[2:7]

In [ ]:
# what does this do? 

a_long_list[1:8:2]

In [ ]:
# If a list is all numbers we can sum the values, or the maximum value

print(sum(my_list))
max(my_list)

In [ ]:
# Can't sum values that are not numbers

sum(my_list2)

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2015-2016 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [ ]:
import YData as ydata
import pandas as pd

# download the data
nba_file_name = "nba_salaries_2022_23.csv"   # "nba_salaries_2015_16.csv"
ydata.download.download_data(nba_file_name)

# load in the data
nba = pd.read_csv(nba_file_name)  

# show the first 6 rows
nba.head()

In [ ]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

In [ ]:
# Who is the first player listed?

player_list[0]

In [ ]:
# What is the salary of the first 5 players?

salary_list[0:5]

In [ ]:
# What is the maximum and minimum salaries? 

print(max(salary_list))
print(min(salary_list))

In [ ]:
# What is the minimum salary in dollars (rather than millions of dollars)?

10**6 * min(salary_list)

In [ ]:
# What is the average salary?

salary_tot = sum(salary_list)
salary_tot/len(salary_list)

We will learn much easier ways to manipulate structured data tables when we learn how to use the pandas package.