# Class 3: The basics of Python continued

In this notebook we will continue learning some of the basic syntax and data structures of Python. We will use what we learn today throughout the rest of the semester so make sure you are understanding the main ideas, and try to practice more on your own.

In [1]:
import YData

# YData.download.download_class_code(3)   # get class 3 code    
# YData.download.download_class_code(3, True) # get the code with the answers

In [2]:
# The following function will download the homework
#YData.download_homework(1)  # downloads the first homework

In [3]:
## If you are using Google Colabs, you should install the YData packages and mount the your google drive by uncommenting and running the code below.

# !pip install https://github.com/lederman/YData_package/tarball/master
# from google.colab import drive
# drive.mount('/content/drive')

## Review of the basics of Python

Let's review the basics of Python with a "number journey"...
1. Create a floating point number 3.14159 and assign it to the name `pi_approx`.
2. Multiple `pi_approx` by 2 and assign to the name `pi_approx_2x`
3. Convert `pi_approx` to an integer and assign it in the name `just_an_int`
4. Divide `just_an_int` by -8 and assign it to the name `a_negative_float`
5. Take the absolute value of `a_negative_float` and assign it to the name `a_positive_float` and print out the value of `a_positive_float`. 

Hint, the following functions could be useful: `int()`, `abs()`

In [4]:
pi_approx = 3.14159

pi_approx_2x = 2 * pi_approx

just_an_int = int(pi_approx_2x)

a_negative_float = just_an_int/-8

a_positive_float = abs(a_negative_float)

print(a_positive_float)

0.75

### Any questions???

If so, please ask them now...

## Strings ##

Strings are how Python represents text. Strings can be created by putting text in either single quotes or in double quotes, but the same type of quote must be used at the start and end of the string. 

* `"This is a string created using double quotes"`
* `'This is a string created using single quotes'`
* `'This is not a correctly formed string because it starts with a single quote and ends with a double quote"`

In [5]:
# create a string

'Flavor'

'Flavor'

In [6]:
# create another string

"any snippet of text"

'any snippet of text'

In [7]:
 # concatenation

'2' + 'x'

'2x'

In [8]:
 # concatenation

'straw' + 'berry'

'strawberry'

In [9]:
# multiplication 

'ha' * 5

'hahahahaha'

In [10]:
# convert a number to a string 

str(2)

'2'

In [11]:
# convert a string to an interger

int('2')

2

In [12]:
# convert a string to an interger - take 2

# int('2.3')

In [13]:
# convert a string to a float

float('2.3')

2.3

In [14]:
# convert a string to an integer - take 3
int(float('2.3'))

2

In [15]:
# building numbers through string concatenation 
'3'+'2'

'32'

In [16]:
# building numbers through string concatenation - take 2

2 + 'x'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
# using differen types of quotes 

"I'm a data scientist!"

"I'm a data scientist!"

In [18]:
# using differen types of quotes - take 2

'I'm a data scientist!'

SyntaxError: unterminated string literal (detected at line 3) (516466099.py, line 3)

## Types ##

Which can check what *type* is being stored in a name using the `type()` function.

In [19]:
type(2.3)

float

In [20]:
type(100)

int

In [21]:
type('abcd')

str

In [22]:
a = 5.7
type(a)

float

## Lists 

Lists are a "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [23]:
# A list of numbers

my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [24]:
# A list of strings

my_list2 = ["a", "b", "c"]
my_list2

['a', 'b', 'c']

In [25]:
# Lists can hold elements of different types

my_list3 = [4, 5, "six"]
my_list3

[4, 5, 'six']

In [26]:
# We can access elements of a list also using square brackets

my_list2[2]

'c'

In [27]:
# We can replace elments of a list as well

my_list2[2] = "z"

my_list2

['a', 'b', 'z']

In [28]:
# concatenating lists

a_long_list = my_list + my_list2 + my_list3
a_long_list

[1, 2, 3, 'a', 'b', 'z', 4, 5, 'six']

In [29]:
# getting the number of elements in a list using the len() function 

len(a_long_list)

9

In [30]:
# slicing lists

a_long_list[0:5]

[1, 2, 3, 'a', 'b']

In [31]:
# start at a different index

a_long_list[2:7]

[3, 'a', 'b', 'z', 4]

In [32]:
# what does this do? 

a_long_list[1:8:2]

[2, 'a', 'z', 5]

In [33]:
# If a list is all numbers we can sum the values, or the maximum value

print(sum(my_list))
max(my_list)

6

3

In [34]:
# Can't sum values that are not numbers

sum(my_list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
my_list3 = ["a", "b", "a", "c", "ab"]

my_list3.count("a")

2

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2015-2016 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [36]:
import YData as ydata
import pandas as pd

# download the data
nba_file_name = "nba_salaries_2022_23.csv"   # "nba_salaries_2015_16.csv"
YData.download.download_data(nba_file_name)

# load in the data
nba = pd.read_csv(nba_file_name)  

# show the first 6 rows
nba.head()

The file `nba_salaries_2022_23.csv` already exists.
If you would like to download a new copy of the file, please rename the existing copy of the file.

            PLAYER POSITION           TEAM     SALARY
0  De'Andre Hunter       SF  Atlanta Hawks   9.835881
1    Jalen Johnson       SF  Atlanta Hawks   2.792640
2       AJ Griffin       SF  Atlanta Hawks   3.536160
3    Trent Forrest       SG  Atlanta Hawks   0.508891
4     John Collins       PF  Atlanta Hawks  23.500000

In [37]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

In [38]:
# Who is the first player listed?

player_list[0]

"De'Andre Hunter"

In [39]:
# What is the salary of the first 5 players?

salary_list[0:5]

[9.835881, 2.79264, 3.53616, 0.508891, 23.5]

In [40]:
# What is the maximum and minimum salaries? 

print(max(salary_list))
print(min(salary_list))

48.070014
0.005849

In [41]:
# What is the minimum salary in dollars (rather than millions of dollars)?

10**6 * min(salary_list)

5849.0

In [42]:
# What is the average salary?

salary_tot = sum(salary_list)
salary_tot/len(salary_list)

8.41659874732334

## Text manipulation

A large part of Data Scientists' time is spent cleaning data, and a large part of data cleaning consists of manipulating text.

Let's explore some of the functions that are built into Python for manipulating strings of text.

### 1. Changing capitalization

One of the most basic things we can do is to change the capitalization of a piece of text. 

One case where this comes up is when one is merging two DataFrames that have the same key values but the values have different capitalization. For example, one might have two DataFrames that have a column that has the names of different countries, but in one DataFrame the country names are capitalized and in the other they are not. 

Python strings have a number of methods to change the capitalization of words including: 

- `capitalize()`: Converts the first character to upper case
- `lower()`: Converts a string into lower case
- `upper()`: Converts a string into upper case
- `title()`: Converts the first character of each word to upper case
- `swapcase()`: Swaps cases, lower case becomes upper case and vice versa

Let's explore these methods by manipulating this [quote](https://www.brainyquote.com/topics/yale-quotes) from [Herman Melville](https://en.wikipedia.org/wiki/Herman_Melville): "a whale ship was my Yale College and my Harvard".

In [43]:
melville_quote = "a whale ship was my Yale College and my Harvard"

melville_quote

'a whale ship was my Yale College and my Harvard'

In [44]:
# Capitalize the first letter 

melville_quote.capitalize()

'A whale ship was my yale college and my harvard'

In [45]:
# Convert all letters to lower case

melville_quote.lower()

'a whale ship was my yale college and my harvard'

In [46]:
# Convert all letters to upper case

melville_quote.upper()

'A WHALE SHIP WAS MY YALE COLLEGE AND MY HARVARD'

In [47]:
# Make the first letter of each word capitalized

melville_quote.title()

'A Whale Ship Was My Yale College And My Harvard'

In [48]:
# Make uppercase lowercase, and lowercase uppercase

melville_quote.swapcase()

'A WHALE SHIP WAS MY yALE cOLLEGE AND MY hARVARD'

### 2. Splitting and joining strings

There are several methods that can help us join strings that are contained into a list into a single string, or conversely, parse a single string into a list of strings. These include: 

- `split(separator_string)`: Splits the string at the specified separator, and returns a list
- `splitlines()`: Splits the string at line breaks and returns a list
- `join(a_list)`: Converts the elements of an iterable into a string

In [49]:
# Split the Melville quote at each space into a list

string_list = melville_quote.split(" ")
string_list

['a', 'whale', 'ship', 'was', 'my', 'Yale', 'College', 'and', 'my', 'Harvard']

In [50]:
# get the element at index 1
string_list[1]

'whale'

In [51]:
# Split a string at each line into a list

poem = """Some say the world will end in fire,
Some say in ice.
From what I’ve tasted of desire
I hold with those who favor fire.
But if it had to perish twice,
I think I know enough of hate
To say that for destruction ice
Is also great
And would suffice."""

poem

'Some say the world will end in fire,\nSome say in ice.\nFrom what I’ve tasted of desire\nI hold with those who favor fire.\nBut if it had to perish twice,\nI think I know enough of hate\nTo say that for destruction ice\nIs also great\nAnd would suffice.'

In [52]:
# Split the poem into a list 

poem.splitlines()

['Some say the world will end in fire,',
 'Some say in ice.',
 'From what I’ve tasted of desire',
 'I hold with those who favor fire.',
 'But if it had to perish twice,',
 'I think I know enough of hate',
 'To say that for destruction ice',
 'Is also great',
 'And would suffice.']

In [53]:
# Join a string together

a_list = ["A", "Whale", "of", "a", "Tale"]

" ".join(a_list)

'A Whale of a Tale'

### 3. Finding and replacing substrings

Some methods for locating a substring within a larger string include: 

- `count(substring)`: Returns the number of times a specified value occurs in a string
- `replace(original_str, replacement_str)`: Replace a substring with a different string.

Also: 
- `startswith(substring)`: Returns true if the string starts with the specified value
- `endswith(substring)` : Returns true if the string ends with the specified value

In [54]:
# How many times does the word "my" occur in the Melville quote? 
melville_quote.count("my")

2

In [55]:
# Replace a substring
melville_quote.replace("Harvard", "that other school that is almost as good")

'a whale ship was my Yale College and my that other school that is almost as good'

In [56]:
# Does the quote start with "a"?
melville_quote.startswith("a")

True

In [57]:
# Does the quote end with Harvard? 

melville_quote.endswith("Harvard")

True

### Example: string processing on webpages

As an example, let's do some string processing on webpages!

In [58]:
# Download a webpage and save it as a file called politics.html

import requests

url = 'https://www.foxnews.com/politics/biden-teams-up-harris-campaign-trail-first-time-since-dropping-re-election-bid-against-trump'
r = requests.get(url, allow_redirects=True)
open('politics.html', 'wb').write(r.content)

264674

In [59]:
# Read in the file as a string called webpage_string
file = open('politics.html', 'r', encoding="utf8")
webpage_string = file.read()

# Look at the first 300 characters 
webpage_string[0:300]

'<!doctype html>\n<html data-n-head-ssr lang="en" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22en%22%7D%7D">\n  <head>\n    <title>Biden teams up with Harris on campaign trail for 1st time since dropping re-election bid against Trump | Fox News</title><meta data-n-head="ssr" http-equiv="X-UA-Compatible" c'

In [60]:
# Replace a word on the webpage

webpage_updated = webpage_string.replace("Biden", "Sleepy Joe")

In [61]:
# Write updated string to a file
text_file = open("updated_politics.html", "w", encoding="utf8")
n = text_file.write(webpage_updated)
text_file.close()

## Comparisons ##

We can do simple mathematical and string comparisons in Python which return Boolean values.

In [62]:
# The Boolean True
True

True

In [63]:
# The Boolean False

In [64]:
False

False

In [65]:
# True is equal to 1 and Fase is equal to 0

True + True + False

2

In [66]:
# basic math comparison
5 > 2

True

In [67]:
# checking the type of a basic math comparison
type(5 > 2)

bool

In [68]:
# another basic math comparison
5 < 2

False

In [69]:
# We use == to compare whether two items are equal (not 5 = 5)
5 == 5

True

In [70]:
x = 20
y = 7

In [71]:
# we can compare whether a value is between two values
10 < x < 21

True

In [72]:
# we can also do mathematical operations between logical comparisons
12 < x-y < 18

True

In [73]:
# we can use the `and` keyword to combine multiple logical statements 
x > 10 and y > 5

True

In [74]:
# we can also use the `or` keyword to combine multiple logical statements 
x > 10 or y > 5

True

In [75]:
# We can also compare strings
"my string" == "my string"

True

In [76]:
# Stings compare alphabetically
"cats" < "dogs"

True

In [77]:
# Shorter words occur earlier than longer words that have matching letters
"cat" < "catastrophe"

True

## More string manipulation

### 1. Checking string properties

There are also many functions to check properties of strings including:

- `isalnum()`: Returns True if all characters in the string are alphanumeric
- `isalpha()`: Returns True if all characters in the string are in the alphabet
- `isnumeric()`: Returns True if all characters in the string are numeric

- `isspace()`: Returns True if all characters in the string are whitespaces

- `islower()`: Returns True if all characters in the string are lower case
- `isupper()`:Returns True if all characters in the string are upper case
- `istitle()`: Returns True if the string follows the rules of a title

Let's test some of these methods out...

In [78]:
# Checking if a string is all letters

"abc".isalpha()

"abc123".isalpha()

False

In [79]:
# Checking if a string is all numbers

"123".isnumeric()

True

In [80]:
# Checking if a string only contains spaces

"   ".isspace()

"\n".isspace()   # also works for new line characters \n, and tables \t

True

In [81]:
# Checking if a string is upper case

"I AM NOT YELLILNG!!!".isupper()

True

### 2. String padding

Often we want to remove extra spaces (called "white space") from the front or end of a string. Or conversely, sometimes we want to add extra spaces to make a set of strings the same length (this is known as "string padding"). 

Python strings have a number of methods that can pad/trim strings including: 

- `strip()`: Returns a trimmed version of the string (i.e., with no leading or trailing white space). 
- `center(num)`: Returns a centered string (with equal padding on both sides)
- `zfill(num)`: Fills the string with a specified number of 0 values at the beginning

Let's use a modified version of Melville quote to explore this

In [82]:
melville_quote2 = "    a whale ship was my Yale College and my Harvard   "
melville_quote2

'    a whale ship was my Yale College and my Harvard   '

In [83]:
# Strip the white space
melville_quote2.strip()

'a whale ship was my Yale College and my Harvard'

In [84]:
# Center the quote by padding with white space 
#. to have a total of 70 characters
melville_quote.center(70)

'           a whale ship was my Yale College and my Harvard            '

In [85]:
# Make a number have leading 0's 
# Q: Why/when is this useful?

"7".zfill(3)

'007'

### 3. Filling in strings with particular values

There are a number of ways to fill in strings parts of a string with particular values. Perhaps the most useful is to use "f strings", which have the following syntax such as: 

`f"my string {value_to_fill} will be filled in"`.

Where the value of the variable `value_to_fill` will be filled into the string. 

Let's try it out...

In [86]:
# Let's use an f-string

person = "Herman Melville"

f"Mr. {person} liked writing about whales."

'Mr. Herman Melville liked writing about whales.'

In [87]:
# We can also do formatting with f-strings

amount = 123000
f"${amount:,.2f} is a lot of money!"

'$123,000.00 is a lot of money!'